<app-content-header
  [titulo]="titulo"
  [lista]="lista">
</app-content-header>

<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Ingrese los datos del Lugar Operativo</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" [formGroup]="rForm" (ngSubmit)="save(rForm.value)">
      <div class="box-body">

      <!--  <div class="form-group">
          <label for="id">Id</label>
          <input class="form-control" id="id" placeholder="id" type="text" formControlName="userName">
        </div>
        <div class="alert alert-warning" role="alert"
             *ngIf="!rForm.controls['id'].valid  && rForm.controls['id'].touched">
          El campo es requerido y debe tener un minimo de 5 caracteres.
        </div>-->

        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input class="form-control" id="nombre" placeholder="nombre" type="text"
                 formControlName="nombre">
        </div>
       <!--  <div class="alert alert-warning" role="alert"
             *ngIf="!rForm.controls['sessionTime'].valid  && rForm.controls['sessionTime'].touched">
          Debe ser mayor a 0.
        </div>-->
        <div class="form-group">
          <label for="codLugar">Codigo del Lugar</label>
          <input class="form-control" id="codLugar" placeholder="codLugar" type="text" formControlName="codLugar">
        </div>

        <!--<div class="form-group">-->
        <!--<label>Lugar Operativo</label>-->
        <!--&lt;!&ndash;<input class="form-control" id="status" placeholder="Estado" type="text" formControlName="status">&ndash;&gt;-->
        <!--<div class="form-check form-check-inline">-->
        <!--<input id="status1" class="form-check-input" type="radio" name="status" value="true"-->
        <!--formControlName="status" checked>-->
        <!--<label class="form-check-label" for="status1">Activo</label>-->
        <!--</div>-->
        <!--<div class="form-check form-check-inline">-->
        <!--<input id="status2" class="form-check-input" type="radio" name="status" value="false"-->
        <!--formControlName="status">-->
        <!--<label class="form-check-label" for="status2">Inactivo</label>-->
        <!--</div>-->
        <!--</div>-->
      </div>
      <!--<div class="alert alert-warning" role="alert"-->
      <!--*ngIf="!rForm.controls['status'].valid  && rForm.controls['status'].touched">-->
      <!--El campo es requerido y debe tener un minimo de 3 caracteres.-->
      <!--</div>-->

      <div class="alert alert-warning" role="alert"
           *ngIf="error">
        {{mensajeError}}
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <input type="submit" class="btn btn-sm btn-primary" [disabled]="!rForm.valid" value="Guardar" title="Guardar"
               style="margin-right: 5px"/>
        <button class="btn btn-sm btn-light"
                (click)="back()"
                title="Cancelar"
                style="margin-right: 5px">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</section>
